{
  "github": {
    "email": "seu-email@exemplo.com",
    "username": "seu-usuario-github",
    "repo": "nome-do-repositorio",
    "token": "",
    "password": ""
  },
  "blog": {
    "title": "Vivendo Entre Dolores",
    "subtitle": "Minha experiência com dor crônica e trombose porto-mesentérica"
  }
}
